<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Sanaporakone</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row">
				<h1 class="center-block display-4">Sanaporakone</h1>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" id="infinitive"></h3>
							<h4 class="card-subtitle mb-2 text-muted"><span id="negative"></span> <span id="tense"></span></h4>
                                                        <a class="btn button-sm btn-outline-secondary" data-toggle="collapse" href="#glosses-row" role="button" aria-expanded="false" aria-controls="glosses-row">Käännös</a>
						</div>
					</div>
				</div>
                        </div>
                        <div id="glosses-row" class="row collapse">
				<div class="col">
					<div class="card">
						<div class="card-body" id="glosses">
                                                        <ol></ol>
						</div>
					</div>
				</div>
			</div>

			<form>
				<div class="row">
					<div class="col">
						<div class="input-group input-group-lg">
							<div class="input-group-prepend">
								<span class="input-group-text" id="person"></span>
							</div>
							<input type="text" class="form-control" aria-label="Answer" aria-describedby="person" id="answer" autocapitalize="off" spellcheck="false" autocomplete="off" autocorrect="off" autofocus>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col">
						<button class="btn btn-lg btn-primary btn-block" id="check">Tarkista</button>
					</div>
					<div class="col">
						<button class="btn btn-lg btn-secondary btn-block" id="new">Uudelleen</button>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col alert lead" id="judgment">
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col">
						<table class="table">
							<thead>
								<tr>
								<th scope="col">Verbityyppi</th>
								<th scope="col">Preseens</th>
								<th scope="col">Negatiivi preseens</th>
								<th scope="col">Imperfekti</th>
								<th scope="col">Negatiive imperfekti</th>
								<th scope="col">Perfekti</th>
								<th scope="col">Negatiive perfekti</th>
								<th scope="col">Pluskvamperfekti</th>
								<th scope="col">Negatiive pluskvamperfekti</th>
								<th scope="col">Välisumma</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">Välisumma</th>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				-->
				<div class="row">
					<div class="col">
						<table class="table">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Total</th>
									<th scope="col">Right</th>
									<th scope="col">Percent</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Overall</th>
									<td><span id="total"></span></td>
									<td><span id="rights"></span></td>
									<td><span id="percent"></span></td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a class="btn button-sm btn-outline-secondary" onClick="clear_scores();" role="button" aria-expanded="false">Tyhjentä pisteet</a>
					</div>
					<div class="col">
						<a class="btn button-sm btn-outline-secondary" data-toggle="collapse" href="#options-row" role="button" aria-expanded="false" aria-controls="options-row">Vaihtoehdot</a>
					</div>
				</div>
				<div class="row collapse" id="options-row">
					<div class="col">
						<div class="form-group">
							<label for="tense">Aikamuoto</label>
							<select multiple class="form-control" id="tense" name="tense">
								<option>preseens</option>
								<option>imperfekti</option>
								<option>perfekti</option>
								<option>plusqvamperfekti</option>
							</select>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="ignore_negative" name="ignore_negative">
							<label class="form-check-label" for="ignore_negative">Sivuutta negatiivista</label>
						</div>
						<div class="form-group">
							<label for="verbtype">Verbityyppi</label>
							<select multiple class="form-control" id="verbtype" name="verbtype">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
							</select>
						</div>
						<div class="form-group">
							<label for="verb">Verbi</label>
							<input class="form-control" id="verb" name="verb"></input>
						</div>
					</div>
				</div>
			</form>	
                       <div class="row">
                               <div class="col">
					<div class="card">
						<div class="card-body">
						       <p class="card-text">
                               &copy; <a href="https://www.datamediate.com">Datamediate</a> 2020<br>
                               Suomenkielinkoneita <a href="https://github.com/flammie/omorfi">Omorfi:sta</a> ja <a href="https://github.com/tatuylonen/wiktextract">wiktextract:sta</a>
                                                       </p>
                                                </div>
                                        </div>
                               </div>
                       </div>

		</div>
		<script src="{% static "generate/jquery-3.4.1.min.js" %}"></script>
		<script src="{% static "generate/popper-1.12.9.min.js" %}"></script>
		<script src="{% static "generate/bootstrap-4.0.0.min.js" %}"></script>
		<script src="{% static "generate/diff_match_patch.js" %}"></script>
		<script src="{% static "generate/question_page.js" %}"></script>
	</body>
</html>
